[buildout]
extensions = 
    mr.developer
    buildout.dumppickedversions
unzip = true
parts = 
    instance
    zopepy
    zopeskel

extends =
    http://good-py.appspot.com/release/dexterity/1.2.1?plone=4.1.5
    http://good-py.appspot.com/release/plone.app.theming/1.0

versions = versions

eggs=

develop =

sources = sources
auto-checkout = *
always-checkout = force

[sources]
tarmii.theme = git https://github.com/upfrontsystems/tarmii.theme.git
upfront.assessmentitem = git https://github.com/upfrontsystems/upfront.assessmentitem.git
collective.topictree = git https://github.com/rochecompaan/collective.topictree.git

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs =
    Plone
    PIL
    plone.app.theming     
    plone.namedfile [blobs]
# http://plone.293351.n2.nabble.com/dexterity-does-not-install-out-of-the-box-on-a-fresh-4-1-5-td7556191.html
    tarmii.theme
    upfront.assessmentitem
      
[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[versions]
argh = 0.15.1
Cheetah = 2.2.1
#cns.recipe.symlink = 0.2.3
#collective.xmltestreport = 1.2.4
collective.xmltestreport = 1.2.8
#iw.recipe.cmd = 0.3
pathtools = 0.1.2
Plone = 4.1.5
Products.DocFinderTab = 1.0.5
Products.PDBDebugMode = 1.3.1
PyYAML = 3.10
sauna.reload = 0.4.3
templer.buildout = 1.0b1
templer.core = 1.0b4
templer.localcommands = 1.0b2
templer.plone = 1.0b1
templer.plone.localcommands = 1.0b1
templer.zope = 1.0b2
watchdog = 0.6.0
z3c.recipe.scripts = 1.0.1
z3c.recipe.tag = 0.4.1
zc.buildout = 1.5.0
zc.recipe.cmmi = 1.3.5
zc.recipe.egg = 1.3.0
ZopeSkel = 3.0b3
zopeskel.dexterity = 1.4
zope.testrunner = 4.0.4

[zopeskel]
recipe = zc.recipe.egg
unzip = true
eggs =
    Paste
    ZopeSkel
    PasteDeploy
    PasteScript
    zopeskel.dexterity<2.99
    ${buildout:eggs}
    ${instance:eggs}
    
